@import 'reset';

// @font-face {
// 	font-family: 'Sans';
// 	src: url('/fonts/Inter-Light.woff2') format('woff2'),
// 		 url('/fonts/Inter-Light.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import 'mixins';

html {
	font-size: 1em;
}
body {
	color: $black;
	background-color: $white;
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

pre {
	background-color: antiquewhite;
	padding: 0.5rem;
	font-family: monospace;
	border-radius: 1rem;
	overflow: auto;
}

h1 {
	font-size: 2rem;
}

section {
	margin: 2rem;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #eee;
}

.button {
	margin: 1rem;
	padding: 0.5em 1em;
	border: 1px solid currentColor;
	border-radius: 2em;
}
